<div class="home_container">
    <app-card gameType="Exclusive" gameConsole="PS5" gamePrice="U$69.99"gameCover="assets\images\sp-img.PNG"></app-card>
    <app-card gameType="New" gameConsole="PS5" gamePrice="U$69.99"gameCover="assets\images\mk-img.jpg"></app-card>
    <app-card gameType="New" gameConsole="PS4/PS5" gamePrice="U$56.99"gameCover="assets\images\sw-img.PNG"></app-card>
    <app-card gameType="Digital" gameConsole="PS4/PS5" gamePrice="U$56.99"gameCover="assets\images\cod-img.PNG"></app-card>
    <app-card gameType="Exclusive" gameConsole="PS4/PS5" gamePrice="U$49.99"gameCover="assets\images\gow-img.PNG"></app-card>
    <app-card gameType="Digital" gameConsole="PS4/PS5" gamePrice="U$49.99"gameCover="assets\images\eldr-img.PNG"></app-card>
    <app-card gameType="Exclusive" gameConsole="PS4/PS5" gamePrice="U$42.99"gameCover="assets\images\hr-img.PNG"></app-card>
</div>